<%- include("partials/header")%>
    <h1>About Us</h1>
    <ul>
        <li>Mission</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quod ex quaerat iusto magni ab porro, qui modi at consequuntur eaque eos voluptas rem vero dolorum labore aperiam repellendus.</p>
        <li>Vision</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quod ex quaerat iusto magni ab porro, qui modi at consequuntur eaque eos voluptas rem vero dolorum labore aperiam repellendus.</p>
        <li>Values</li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio quod ex quaerat iusto magni ab porro, qui modi at consequuntur eaque eos voluptas rem vero dolorum labore aperiam repellendus.</p>
    </ul>
<%- include("partials/footer")%>