<%- include("partials/header")%>

    <h1>Home</h1>
    <p>This is the homepage</p>
    <img class="img" src="https://png.pngtree.com/png-clipart/20240323/original/pngtree-happy-kawaii-face-png-image_14666034.png" alt="happy face">

<%- include("partials/footer")%>